/* Styles Globaux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("img/background.png");
  background-size: cover;
  background-attachment: local;
  padding-top: 100px; /* Espace pour éviter le chevauchement avec la navbar */
  text-align: center; /* Centrer le contenu de la page */
}

/* Styles de la Navbar */
.navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Navbar toujours en haut */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.1); /* Transparence avec un léger fond */
  backdrop-filter: blur(10px); /* Effet de flou derrière la navbar */
}

.navbar .logo img {
  width: 50px; /* Taille du logo */
  height: auto;
}

.navbar .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: background 0.3s ease;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Légère couleur au survol */
  border-radius: 4px;
}

/* Styles de la Table */
.tableur {
  display: flex;
  justify-content: center;
  margin-top: 100px; /* Espace supplémentaire sous la navbar */
}

.ttable {
  width: 50%; /* Réduit la table à 50% de la largeur de l'écran */
  border-collapse: collapse;
  border-radius: 10px; /* Arrondi des coins du tableau */
  overflow: hidden; /* Assure que les coins des cellules suivent l'arrondi */
  background: rgba(255, 255, 255, 0.7); /* Opacité de la table */
  backdrop-filter: blur(5px); /* Effet de flou derrière la table */
}

.ttable th, .ttable td {
  border: 2px solid rgb(180, 16, 16); /* Bordures fines */
  padding: 8px;
  text-align: left;
  transition: background-color 0.3s ease; /* Transition sur hover */
}

.ttable tr:hover {
  background-color: rgba(17, 196, 255, 0.5); /* Couleur avec transparence au survol */
}

/* Style du compte à rebours */
.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Ajustez la hauteur selon vos besoins */
}

#countdown {
  font-size: 3em;
  font-family: 'Arial Black', sans-serif;
  color: #4661ff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
