/* Styles Globaux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("img/background.png");
  background-size:cover;
  background-attachment: local;
  padding-top: 60px; /* Ajoute un espacement pour éviter que le contenu chevauche la navbar */
}

/* Styles de la Navbar */
.navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Navbar toujours en haut */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(to bottom, #11c4ff, #4661ff);
  opacity: 50%;
}

.navbar .logo img {
  width: 50px; /* Taille du logo */
  height: auto;
}

.navbar .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: background 0.3s ease;
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 4px;
}

/* Styles de la Table */
.tableur {
  display: flex;
  justify-content: center;
  margin-top: 100px; /* Ajoute un espace supplémentaire */
}

.ttable {
  width: 50%; /* Réduit la table à 50% de la largeur de l'écran */
  border-collapse: collapse;
  border-radius: 10px; /* Arrondi des coins du tableau */
  overflow: hidden; /* Assure que les coins des cellules suivent l'arrondi */
}

.ttable th, .ttable td {
  border: 5px solid rgb(180, 16, 16);
  padding: 8px;
  margin: 2px;
  text-align: left;
  transition: background-color 0.3s ease;
  
}
.ttable tr:hover {
  background-color: #11c4ff;
}

/* Centrer le contenu de la page */
body {
    text-align: center;
}

/* Style du compte à rebours */
.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Ajustez la hauteur selon vos besoins */
}

#countdown {
    font-size: 3em;
    font-family: 'Arial Black', sans-serif;
    color: linear-gradient(to bottom, #11c4ff, #4661ff);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Centrer le contenu de la page */
body {
    text-align: center;
}

/* Style du compte à rebours */
.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Ajustez la hauteur selon vos besoins */
}

#countdown {
  font-size: 3em;
  font-family: 'Arial Black', sans-serif;
  color: linear-gradient(to bottom, #11c4ff, #4661ff);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}